@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@400;500&family=Raleway:wght@400;500;600;700;800&display=swap");

$primary-color: #fff;
$secondary-color: #5e0fc3;
$alt-color: #32b4fe;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: -1px 0 4px hsla(45%, 64%, 15%, 0.15);
  padding-top: 1rem;
}

.main {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Encode Sans Condensed", sans-serif;
}

img {
  max-width: 100%;
  // height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.lg-heading {
  font-size: 36px;
  margin-bottom: 0.8rem;
}

.md-heading {
  font-size: 28px;
  margin-bottom: 2rem;
}

.sm-heading {
  font-size: 22px;
  margin-bottom: 0.2rem;
}

.section {
  padding: 5rem 0 2rem;
}

@mixin botton($bg, $radius, $color) {
  display: inline-block;
  padding: 0.7rem 1rem;
  color: $color;
  background: $bg;
  border-radius: $radius;
  transition: 0.5s;
  &:hover {
    background: darken($bg, 5%);
  }
  &:active {
    background: darken($bg, 30%);
  }
}

@mixin flex($col, $align, $justify) {
  display: flex;
  gap: 0.5rem;
  flex-direction: $col;
  align-items: $align;
  justify-content: $justify;
}

.sell-section {
  margin-bottom: 0;
  padding-bottom: 0;
}
