@import "./config";
@import "./menu";
@import "./responsive";

.home__cta {
  grid-template-columns: 1fr;
  // position: relative;
  z-index: -1;

  &-details {
    @include flex(column, center, center);

    .home__cta-heading {
      text-align: center;
    }

    .home__cta-btn {
      @include botton($secondary-color, 25px, #fff);
    }
  }

  &-images {
    position: relative;
    z-index: -1;
    .v-line {
      position: absolute;
      top: 10px;
      left: 20px;
      height: 105px;
      width: 50px;
      border-left: 2px dotted $alt-color;
      border-right: 2px dotted $alt-color;
      border-width: 6px;
      background: transparent;
    }

    .h-line {
      position: absolute;
      top: 11rem;
      right: 30px;
      height: 50px;
      width: 120px;
      border-top: 2px dotted $alt-color;
      border-bottom: 2px dotted $alt-color;
      border-width: 6px;
      background: transparent;
    }
    &-bg {
      width: 220px;
      margin-left: 5.5rem;
      img {
        border-radius: 20px;
      }
    }
    &-sm {
      width: 150px;
      position: absolute;
      top: 8.5rem;
      left: 0;
      img {
        border-radius: 20px;
      }
    }
  }
}

.ecom {
  &-heading {
    text-align: center;
    padding-top: 5rem;
  }

  &__cards {
    grid-template-columns: 1fr;

    &-card {
      @include flex(column, flex-start, space-between);

      a {
        color: $alt-color;
        &:hover {
          color: darken($color: $alt-color, $amount: 10%);
        }
      }
    }

    .extra {
      position: relative;
      z-index: -1;
      margin-top: 4rem;
      img {
        border-radius: 15px;
      }

      .img2,
      .img3,
      .img4 {
        width: 100px;
        position: absolute;
      }

      .img1 {
        margin-right: 40px;
      }

      .img2 {
        left: 20px;
        top: -40px;
      }
      .img3 {
        right: 40px + 40px;
        top: -80px;
      }
      .img4 {
        right: 0;
        bottom: 40%;
      }
    }
  }
}

.sell {
  img {
    border-radius: 10px;
  }
  background: $secondary-color;
  color: $primary-color;
  margin: 0;
  &-row {
    width: 90%;
    margin: auto;
    @include flex(column, flex-start, center);
    gap: 3rem;
    &-col {
      // @include flex(row, center, center);
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;

      .sm-heading {
        margin-bottom: 0.5rem;
      }

      .btn {
        margin: 15px 0;
        @include botton(green, 25px, #fff);
      }
      .img1 {
        margin-top: -20px;
      }
    }
  }
}

.trusted {
  position: relative;
  z-index: -1;
  background: #e5e5e5;

  &-heading {
    text-align: center;
  }

  &__container {
    margin-top: 0px;
    margin-left: 15px;
    padding-bottom: 60px;
    margin-right: 15px;
    grid-template-areas:
      "a b c"
      "d d d"
      "e f g";

    &-image {
      width: 70px;
      height: 70px;

      img {
        border-radius: 50%;
      }
    }

    &-image:nth-child(1) {
      grid-area: a;
    }
    &-image:nth-child(2) {
      margin-top: -1rem;
      grid-area: b;
    }
    &-image:nth-child(3) {
      grid-area: c;
    }
    &-quote {
      grid-area: d;
      padding: 10px;
      margin: 10px;
      background: $primary-color;
    }

    &-image:nth-child(5) {
      grid-area: e;
    }
    &-image:nth-child(6) {
      position: relative;
      grid-area: f;
      bottom: -3rem;

      // transform: scale(0.4);
    }
    &-image:nth-child(7) {
      grid-area: g;
    }
  }
}

.cta {
  background: $secondary-color;
  color: $primary-color;
  padding: 20px;
  margin-top: 0;
  &__container {
    padding: 0;
    margin: 0;
    @include flex(column, center, center);
    &-text {
      text-align: center;
      font-size: 24px;
      span {
        color: #cabdbd;
      }
    }
    &-btn {
      @include botton(transparent, 15px, $primary-color);
      margin-top: 0.5rem;
      border: 1px solid $primary-color;
      text-align: center;
    }
  }
  margin-bottom: 0;
}

.footer {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  background: lighten($color: $secondary-color, $amount: 10%);
  &__container {
    padding: 0;
    margin: 0;
    &-list li:first-child {
      padding-bottom: 3px;
      color: $primary-color;
      font-weight: 600;
      text-transform: capitalize;
    }
    &-list a {
      padding-top: 5px;
      color: $primary-color;
    }
    grid-template-areas:
      "a b"
      "c b"
      "d e";

    .a {
      grid-area: a;
    }
    .b {
      grid-area: b;
    }
    .c {
      grid-area: c;
    }
    .d {
      grid-area: d;
    }
    .e {
      grid-area: e;
    }
    padding: 30px 15px;

    .footer-social {
      position: relative;
      top: -25px;
      left: -2.4rem;
      @include flex(column, center, center);
      a {
        font-size: 24px;
        color: $primary-color;
      }
    }
  }
}
